.header {
    background-color: #e9d8f4;
    color: #58257b;
    padding: 11px;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }

  .select1{
      border-right: 2px solid black;
      width: 180px;
      height: 700px;      
      text-align: center;
  }
  select{
      margin-top:30px;
  }
  .logo {
    display: block;
    width: 100px;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;

  }
  img {
    width: 100px;
    margin-top: 10px;
  }
  