<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Create User</title>
  <link rel="stylesheet" href="/css/user/user.css">
</head>
<body>
<form action="/create" method="post" th:object="${user}" >
  <table>
    <tr>
      <td>First Name:</td>
      <td><input th:field="*{firstName}" /></td>
      <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error">Name Error</td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input th:field="*{lastName}" /></td>
      <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error">Name Error</td>
    </tr>
    <tr>
      <td>Phone Number:</td>
      <td><input th:field="*{phoneNumber}" /></td>
      <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="error">Name Error</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td><input th:field="*{age}" type="number" /></td>
      <td th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="error">Name Error</td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input th:field="*{email}" type="email" /></td>
      <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Name Error</td>
    </tr>
    <tr>
      <td><input type="reset" value="Reset"></td>
      <td><input type="submit" value="Submit"></td>
    </tr>
  </table>

</form>
</body>
</html>